@import url(https://fonts.googleapis.com/css?family=Nunito);

.btn-has-spinner::before {
    font-family: "Material Design Icons";
    content: '\F4E6';
    animation: btn-spinner 2s infinite linear;
    vertical-align: middle;
    display: inline-block !important;
    font-size: inherit;
}

@keyframes btn-spinner {
    to {
        transform: rotate(360deg);
    },
}
